/* Basic styles */
.row {
  display: flex; /* Make the row a flex container */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.col-6 {
  width: 90%; /* Set the width of the column to 50% */
}

.form-widget {
  background-color: #fff; /* Set the background color to white */
  padding: 20px; /* Add some padding */
  border-radius: 5px; /* Add some rounded corners */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.header {
  font-size: 24px; /* Set the font size for the header */
  margin-bottom: 10px; /* Add some margin below the header */
}

.description {
  font-size: 18px; /* Set the font size for the description */
  margin-bottom: 20px; /* Add some margin below the description */
}

/* Form styles */
.form-widget label {
  display: block; /* Make the label block level */
  margin-bottom: 5px; /* Add some margin below the label */
}

.inputField {
  width: 100%; /* Set the width of the input field to 100% */
  padding: 10px; /* Add some padding */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 3px; /* Add some rounded corners */
  box-sizing: border-box; /* Include padding in the width */
}

.checkbox-lg {
  width: 20px; /* Set the width of the checkbox */
  height: 20px; /* Set the height of the checkbox */
}

.terms-text {
  font-size: 12px; /* Set the font size for the terms text */
  margin-left: 5px; /* Add some margin to the left of the text */
}

.text-blue-500 {
  color: #3b82f6; /* Set the color to blue */
}

.underline {
  text-decoration: underline; /* Add underline to the text */
}


.button {
  background-color: #757575; /* A mid-gray */
  color: #ffffff; /* White text */
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}


.button:hover {
  background-color: #2c73e6; /* Change the background color on hover */
}

.button.block {
  display: block; /* Make the button block level */
  width: 100%; /* Set the width to 100% */
  margin-top: 10px; /* Add some margin above the button */
  margin-bottom: 20px; /* Add bottom margin */
}

.button.primary {
  background-color: #07c5a0; /* Set the background color for the primary button */
}

.button.primary:hover {
  background-color: #05a48a; /* Change the background color on hover for the primary button */
}

.button.disabled {
  background-color: #ccc; /* Set the background color for disabled buttons */
  cursor: default; /* Remove the cursor pointer for disabled buttons */
}

/* Error message styles */
.errors {
  color: red; /* Set the error message color to red */
  font-size: 12px; /* Set the font size for the error message */
  margin-top: 5px; /* Add some margin above the error message */
}